:root {
  --ridge-green: #709b48;
  --ridge-darkgreen: #658741;
  --ridge-lightgreen: #eaeaa2;

  --valent-blue: #3467b2;
  --valent-darkblue: #3467b2;
  --valent-lightblue: #b3e6ff;

  --TMTP-orange: #a84c33;
  --TMTP-darkorange: #b53f24;
  --TMTP-lightorange: #f99a75;
}

@font-face {
  font-family: "DIN-Mittelschrift";
  src: url("../fonts/DIN-Mittelschrift.ttf");
}
@font-face {
  font-family: "DIN-Neuzeit-Grotesk-Light";
  src: url("../fonts/DIN-Neuzeit-Grotesk-Light.ttf");
}
@font-face {
  font-family: "DIN-Alternate-Bold";
  src: url("../fonts/DIN-Alternate-Bold.ttf");
}

.RIDGE-header header {
  background-image: url("../images/case-studies/RIDGE/RIDGE-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 550px;
  margin-bottom: 2rem;
}

.RIDGE-header {
  position: relative;
}

.valent-header header {
  background-image: url("../images/case-studies/Valent/Valiant-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 550px;
  margin-bottom: 2rem;
}

.valent-header {
  position: relative;
}

.TMTP-header header {
  background-image: url("../images/case-studies/TMTP/TMTP-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 550px;
  margin-bottom: 2rem;
}

.TMTP-header {
  position: relative;
}

.header-text p {
  position: absolute;
  bottom: -26px;
  font-family: "DIN-Mittelschrift";
  color: black;
  font-size: 1.7rem;
}

.header-text .arrow {
  font-family: "DIN-Alternate-Bold";
  font-size: 1.5rem;
}

.header-text span {
  font-size: 3.7rem;
  word-spacing: -5px;
}

.scroll-change {
  min-height: 350px;
  padding-bottom: 45px;
}

.navbar {
  border-top: 10px solid #414042;
}

.logo {
  cursor: pointer;
  width: 250px;
  margin: 1.5rem 3rem;
  content: url("../images/logos/echo-white-black.png");
}

.scrolled .logo {
  content: url("../images/logos/echo-white-black.png");
}

.case-study-body {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.case-study-body p {
  font-size: 1.3rem;
  line-height: 2.4rem;
}

.case-study-body .second-paragraph {
  clear: both;
  display: block;
  margin-top: 15px;
}

.case-study-body ul {
  margin-top: 0px;
  font-size: 1.7rem;
  color: #c1ce76;
  font-family: "DIN-Mittelschrift";
  word-spacing: -3px;
}

.case-study-body ul li .title {
  font-size: 1.7rem;
  color: var(--ridge-green);
}

.valent ul {
  margin-top: 0px;
  color: #a1e0ff;
}

.valent ul li .title {
  color: var(--valent-blue);
}

.TMTP ul {
  margin-top: 0px;
  color: #e87556;
}

.TMTP ul li .title {
  color: var(--TMTP-orange);
}

.case-study-body li {
  margin-bottom: 1rem;
  line-height: 1rem;
}

.case-study-body ul li span {
  font-size: 1.4rem;
  color: grey;
  line-height: 1.5rem;
}

.RIDGE-img {
  width: 100%;
  max-width: 300px;
  justify-self: right;
}
.valent-img {
  width: 100%;
  max-width: 300px;
  justify-self: right;
  margin-left: 5px;
}

.valent-imgs {
  justify-self: right;
}

.TMTP-img {
  width: 100%;
  max-width: 300px;
  justify-self: left;
}

.green-box {
  background: var(--ridge-darkgreen);
  padding: 2rem;
  height: min-content;
}

.green-box p {
  color: var(--ridge-lightgreen);
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-family: "DIN-Mittelschrift";
  word-spacing: -3px;
  margin-bottom: 10px;
}
.green-box p span {
  color: white;
  line-height: 1.6rem;
  font-size: 1.8rem;
}

.green-box p span .large-text {
  font-size: 2.5rem;
  word-spacing: -8px;
}

.blue-box {
  margin-top: 2rem;
  background: var(--valent-darkblue);
  padding: 1rem;
  height: min-content;
  display: grid;
  grid-template-columns: 49% 20% 20%;
  gap: 2.5rem;
  height: 230px;
}

.blue-box p {
  padding: 15px;
  color: var(--valent-lightblue);
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-family: "DIN-Mittelschrift";
  word-spacing: -3px;
}
.blue-box p span {
  color: white;
  line-height: 1.6rem;
  font-size: 1.8rem;
}

.blue-box ul {
  padding: 15px 5px;
}

.blue-box ul li::marker {
  font-size: 1rem;
}

.blue-box ul li span {
  color: white;
  line-height: 1.3rem;
  font-size: 1.5rem;
  margin-left: -5px;
  padding: 0 10px 0 0;
}

.orange-box {
  background: var(--TMTP-darkorange);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 1rem;
  height: min-content;
}

.orange-box img {
  margin-top: 10px;
}

.orange-box p {
  margin-top: 5px;
  color: var(--TMTP-lightorange);
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-family: "DIN-Mittelschrift";
  word-spacing: -3px;
}
.orange-box p span {
  line-height: 1.6rem;
  font-size: 1.8rem;
  color: white;
}
