@media all and (max-width: 2200px) {
  header {
    padding-bottom: 65px;
  }

  .scrolled .RIDGE-navbar {
    background: rgba(181, 201, 122, 0.8);
  }

  /* .valent-navbar {
    background: rgba(30, 169, 220, 0.8);
  } */

  .scrolled .valent-navbar {
    background: rgba(30, 169, 220, 0.8);
  }

  /* .TMTP-navbar {
    background: rgba(255, 90, 37, 0.8);
  } */

  .scrolled .TMTP-navbar {
    background: rgba(255, 90, 37, 0.8);
  }

  .scroll-change {
    min-height: 40px;
    max-height: 40px;
    padding-bottom: 0px;
  }

  .scrolled .logo {
    content: url("../images/logos/echo-white-black.png");
  }

  .scrolled .menu {
    color: white;
  }

  .scrolled-mobile .RIDGE-navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .valent-navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .TMTP-navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .logo {
    content: url("../images/logos/echo-black-grey.png");
  }

  .scrolled-mobile .menu {
    color: black;
  }
  .RIDGE-header .header-text p {
    stroke: red;
    stroke-width: 3;
  }
}

@media all and (max-width: 1200px) {
  .RIDGE-header header {
    background-size: cover;
    height: auto;
    min-height: 350px;
  }

  .RIDGE-header header {
    min-height: 350px;
  }

  .valent-header header {
    min-height: 300px;
  }

  .TMTP-header header {
    min-height: 350px;
    background-position: 35%;
  }

  .header-text {
    width: 90%;
  }

  .header-text p {
    bottom: -19px;
    font-size: 1.4rem;
  }

  .header-text span {
    font-size: 2.8rem;
    word-spacing: -5px;
  }

  .RIDGE-header .header-text p {
    text-shadow: none;
  }
  .RIDGE-navbar {
    background: rgba(181, 201, 122, 0.8);
  }

  .scrolled .RIDGE-navbar {
    background: rgba(181, 201, 122, 0.8);
  }

  .valent-navbar {
    background: rgba(30, 169, 220, 0.8);
  }

  .scrolled .valent-navbar {
    background: rgba(30, 169, 220, 0.8);
  }

  .TMTP-navbar {
    background: rgba(255, 90, 37, 0.8);
  }

  .scrolled .TMTP-navbar {
    background: rgba(255, 90, 37, 0.8);
  }

  .scroll-change {
    min-height: 40px;
    max-height: 40px;
    padding-bottom: 0px;
  }

  .scrolled .logo {
    content: url("../images/logos/echo-white-black.png");
  }

  .scrolled .menu {
    color: black;
  }

  .scrolled-mobile .RIDGE-navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .valent-navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .TMTP-navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .logo {
    content: url("../images/logos/echo-black-grey.png");
  }

  .case-study-body {
    display: grid;
    grid-template-columns: 100%;
  }

  .with-image {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .with-image {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .case-study-body p {
    font-size: 1.3rem;
  }

  .case-study-body ul {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 3rem;
  }

  .with-image ul {
    display: grid;
    grid-template-columns: 85%;
    gap: 0.5rem;
    height: auto;
  }

  .valent-imgs {
    justify-self: center;
  }
  .valent-img {
    width: 250px;
  }

  .with-image .green-box {
    display: grid;
    grid-template-columns: 100%;
  }

  .blue-box {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
  }

  .blue-box ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 0rem;
    margin-top: -35px;
    margin-left: 30px;
  }

  .blue-box ul li {
    margin-top: -35px;
    padding: 0px 5px;
    font-size: 1rem;
  }

  .blue-box ul li span {
    font-size: 1.3rem;
  }

  .orange-box {
    padding: 1rem;
  }

  .orange-box img {
    margin-top: 10px;
  }

  .orange-box p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .TMTP-img {
    width: 100%;
    max-width: 350px;
    justify-self: center;
  }
}

@media all and (max-width: 640px) {
  .uk-offcanvas-bar {
    padding-top: 10rem;
  }

  .logo {
    width: 200px;
    margin: 1rem 2rem;
  }

  .menu {
    top: 0.5rem;
    right: 1rem;
  }

  .menu svg {
    width: 40px;
  }

  .RIDGE-header header {
    min-height: 300px;
    background-position: 40%;
  }

  .valent-header header {
    min-height: 300px;
    background-position: 35%;
  }

  .TMTP-header header {
    min-height: 300px;
    background-position: 35%;
  }

  .header-text {
    width: 90%;
  }

  .header-text p {
    bottom: -14px;
    font-size: 1.3rem;
  }

  .header-text .arrow {
    font-size: 1.3rem;
    display: inline;
  }

  .header-text span {
    font-size: 2.5rem;
    line-height: 2.2rem;
    word-spacing: -5px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
  }

  .TMTP-header .header-text span {
    width: 260px;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 0rem;
  }

  .case-study-body {
    display: grid;
    grid-template-columns: 100%;
    padding: 0px 25px;
  }

  .with-image {
    display: grid;
    grid-template-columns: 100%;
  }

  .with-image {
    display: grid;
    grid-template-columns: 100%;
  }

  .case-study-body p {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }

  .case-study-body ul {
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5rem;
  }

  .with-image ul {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 85%;
    gap: 0.5rem;
    height: auto;
  }

  .RIDGE-img {
    width: 100%;
    max-width: 350px;
    justify-self: center;
  }

  .valent-img {
    width: 100%;
    max-width: 350px;
    justify-self: center;
  }

  .TMTP-img {
    width: 100%;
    max-width: 280px;
    justify-self: center;
  }

  .with-image .green-box {
    display: grid;
    grid-template-columns: 100%;
  }
  .green-box p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .valent-imgs {
    justify-self: center;
  }
  .valent-img {
    width: 47%;
  }

  .with-image .green-box {
    display: grid;
    grid-template-columns: 100%;
  }
  .blue-box p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .blue-box {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
  }

  .blue-box ul {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
  }

  .blue-box ul li {
    margin-top: -25px;
    line-height: 5px;
  }

  .orange-box {
    grid-template-columns: 100%;
    gap: 0rem;
    padding: 1rem;
  }

  .orange-box img {
    margin-top: 1rem;
    width: 50%;
    max-width: 200px;
    margin: auto;
  }

  .orange-box p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  footer {
    background: #414042;
    color: white;
    height: 100%;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
  }
  footer div {
    font-family: "DIN-Alternate-Bold";
    margin: auto;
    margin-top: 25px;
  }

  .footer-logo {
    margin-bottom: 0.5rem;
    width: 200px;
    clear: both;
  }
}
