@media all and (max-width: 2200px) {
  header {
    padding-bottom: 65px;
  }

  .scrolled .navbar {
    background: rgba(0, 0, 0, 0.8);
  }

  .scroll-change {
    min-height: 40px;
    max-height: 40px;
    padding-bottom: 0px;
  }

  .scrolled .logo {
    content: url("../images/logos/echo-white-blue.png");
  }

  .scrolled .menu {
    color: white;
  }

  .scrolled-mobile .navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .logo {
    content: url("../images/logos/echo-black-blue.png");
  }

  .scrolled-mobile .menu {
    color: black;
  }
}
@media all and (max-width: 1820px) {
  .icon-container {
    margin: rem 0rem;
    text-align: center;
  }

  .icons {
    margin: 0rem 0.5rem;
    padding: 1rem 1.5rem;
    width: 275px;
  }

  .caseStudy-left p {
    margin-top: 0px;
    width: 250px;
    font-size: 1.2rem;
  }
  .caseStudy-left h2 {
    font-size: 4rem;
  }
}

@media all and (max-width: 1200px) {
  header {
    background-position: top 55% left 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 350px;
    padding-bottom: 45px;
  }

  .header-text {
    width: 90%;
    max-width: 550px;
    margin: 8rem 2rem 0rem 1rem;
    text-shadow: 2px 2px 4px #000000;
  }

  .header-text h1 {
    word-spacing: -5px;
    line-height: 3rem;
    font-size: 3.75rem;
  }

  .header-text p {
    font-size: 1.3rem;
    padding-bottom: 0px;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 0rem;
  }

  .scrolled .navbar {
    background: rgba(0, 0, 0, 0.8);
  }

  .scroll-change {
    min-height: 40px;
    max-height: 40px;
    padding-bottom: 0px;
  }

  .scrolled .logo {
    content: url("../images/logos/echo-white-blue.png");
  }

  .scrolled .menu {
    color: white;
  }

  .scrolled-mobile .navbar {
    background: rgba(255, 255, 255, 0.8);
  }

  .scrolled-mobile .logo {
    content: url("../images/logos/echo-black-blue.png");
  }

  .scrolled-mobile .menu {
    color: black;
  }

  .icon-container {
    margin: 2rem auto;
    max-width: 700px;
  }

  .icons {
    margin: auto 1rem;
    width: 250px;
    cursor: pointer;
  }

  .caseStudy-container {
    grid-template-columns: 40% 60%;
  }

  .caseStudy-left h2 {
    text-align: left;
    font-size: 3rem;
  }

  .caseStudy-left p {
    font-size: 1rem;
  }

  .uk-modal-body {
    width: 70%;
  }

  .modal-images img {
    width: 45%;
  }

  .image-slider .uk-slider-items li .uk-overlay-primary p {
    font-family: "DIN-Mittelschrift";
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }

  .uk-slideshow {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 505px;
    width: 100%;
  }
  .uk-cover {
    object-fit: scale-down;
    max-width: 545px;
    margin-top: -25px;
  }

  .testimonial p {
    max-width: 400px;
    font-size: 0.9rem;
  }
}

@media all and (max-width: 640px) {
  .uk-offcanvas-bar {
    padding-top: 10rem;
  }

  .logo {
    width: 200px;
    margin: 1rem 2rem;
  }

  .menu {
    top: 0.5rem;
    right: 1rem;
  }

  .menu svg {
    width: 40px;
  }

  .header-text {
    width: 90%;
    max-width: 550px;
    margin: 8rem 2rem 0rem 1rem;
  }

  .header-text h1 {
    word-spacing: -5px;
    line-height: 3rem;
    font-size: 3.75rem;
  }

  .header-text p {
    font-size: 1.3rem;
    padding-bottom: 0px;
  }

  header {
    background-position: top 55% left 100%;
    min-height: 350px;
    padding-bottom: 25px;
    height: 100%;
    width: 100%;
  }

  .header-text {
    width: 85%;
    max-width: 500px;
    margin: 5.5rem auto;
    text-shadow: 2px 2px 4px #000000;
  }

  .header-text h1 {
    line-height: 2.25rem;
    font-size: 2.75rem;
  }

  .header-text p {
    font-size: 1.1rem;
    padding-bottom: 10px;
  }

  .icon-container {
    margin: 2rem auto;
    max-width: 450px;
  }
  .icons {
    margin: auto;
    padding: 0.5rem 1rem;
    width: 250px;
    cursor: pointer;
  }

  .caseStudy-container {
    width: 100%;
    max-width: 1900px;
    padding: 1rem 0rem 0rem 0rem;
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
  }
  .caseStudy-left {
    max-width: initial;
    text-align: center;
    margin: 1rem;
  }

  .caseStudy-left h2 {
    text-align: center;
    margin: auto;
  }

  .caseStudy-left p {
    font-family: "DIN-Neuzeit-Grotesk-Light";
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
  }

  .caseStudy-right {
    width: 90%;
    margin: auto;
  }

  .image-slider .uk-slider-items {
    height: auto;
    margin-right: 0px;
  }

  .image-slider .uk-slider-items li .uk-overlay-primary p {
    font-family: "DIN-Mittelschrift";
    font-size: 1.5rem;
    margin-bottom: 0rem;
    padding: 15px;
  }

  .caseStudy-arrows {
    position: relative;
    width: 90%;
    height: 22px;
    max-width: 350px;
    margin: 2rem auto 0rem auto;
  }

  .caseStudy-arrows .arrow-left {
    display: block;
  }

  .uk-dotnav > * > * {
    width: 20px;
    height: 3px;
  }

  .uk-modal-body {
    width: 85%;
    max-height: 600px;
    overflow: auto;
  }

  .modal-images img {
    display: inline-block;
    width: 100%;
    margin: 0.7rem 0.7rem 0rem 0rem;
  }

  .uk-modal-body h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2rem;
  }

  .uk-modal-body p {
    font-family: "DIN-Neuzeit-Grotesk-Light";
    margin-top: 0px;
    font-size: 1rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 0rem;
  }

  .uk-slideshow {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 450px;
    width: 80%;
  }

  .uk-container .uk-slideshow .uk-slideshow-items li .uk-cover {
    object-fit: scale-down;
    width: 100% !important;
    margin-top: -65px;
  }

  .testimonial {
    max-width: 330px;
    width: 70%;
    height: 65%;
  }

  .testimonial p {
    font-size: 0.8rem;
  }

  .uk-container .uk-slideshow-items {
    min-height: 250px !important;
  }

  .testimonial p span {
    font-family: "DIN-Mittelschrift";
    font-size: 0.9rem;
    line-height: normal;
  }

  .uk-position-center {
    top: 0;
    --uk-position-translate-y: 10%;
  }

  .uk-slideshow-nav {
    margin-top: 10px;
  }

  .client-slider {
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
    max-width: 300px;
    margin: auto;
  }

  .client-text {
    font-size: 0.9rem;
    padding: 0rem 2rem;
  }

  .client-logo {
    width: 100%;
    margin: auto;
    padding: 0rem 2.5rem;
  }

  footer {
    background: #414042;
    color: white;
    height: 100%;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
  }
  footer div {
    font-family: "DIN-Alternate-Bold";
    margin: auto;
    margin-top: 25px;
  }

  .footer-logo {
    margin-bottom: 0.5rem;
    width: 200px;
    clear: both;
  }
}
