body {
  font-family: "DIN-Neuzeit-Grotesk-Light";
}

:root {
  --echo-orange: #f98064;
  --echo-lightorange: rgba(249, 128, 100, 0.8);
  --echo-yellow: #e1d555;
  --echo-lightyellow: rgba(225, 213, 85, 0.8);
  --echo-green: #95b76e;
  --echo-lightgreen: rgba(149, 183, 110, 0.8);
  --echo-blue: #5db8d1;
  --echo-lightblue: rgba(93, 184, 209, 0.8);
  --echo-purple: #b767b7;
  --echo-lightpurple: rgba(183, 103, 183, 0.8);

  --grey-background: #e6e7e8;
  --grey-text: #8d9091;
}

@font-face {
  font-family: "DIN-Mittelschrift";
  src: url("../fonts/DIN-Mittelschrift.ttf");
}
@font-face {
  font-family: "DIN-Neuzeit-Grotesk-Light";
  src: url("../fonts/DIN-Neuzeit-Grotesk-Light.ttf");
}
@font-face {
  font-family: "DIN-Alternate-Bold";
  src: url("../fonts/DIN-Alternate-Bold.ttf");
}

h2 {
  text-align: center;
  font-family: "DIN-Mittelschrift", sans-serif;
  word-spacing: -8px;
  color: var(--grey-text);
  font-size: 4rem;
  margin-bottom: 0rem;
}

p {
  font-size: 1.2rem;
}

.navbar {
  position: fixed;
  width: 100%;
  border-top: 10px solid var(--echo-yellow);
  z-index: 9999;
}

.menu {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.menu svg {
  width: 50px;
}

.scrolled .menu {
  color: black;
}

.uk-offcanvas-overlay::before {
  background: rgba(0, 0, 0, 0.3);
}

.uk-offcanvas-close svg {
  width: 20px;
}

.uk-offcanvas-bar {
  background: #414042;
  padding-top: 20rem;
}

.uk-offcanvas-bar div .uk-nav .uk-active a {
  color: white;
}

.uk-offcanvas-bar div .uk-nav li a {
  font-family: "DIN-Mittelschrift", sans-serif;
  word-spacing: -2px;
  font-size: 1.7rem;
  color: var(--grey-text);
  line-height: 1.7rem;
  padding-top: 1rem;
}

.uk-offcanvas-bar div .uk-nav .uk-parent .uk-nav-sub li a {
  font-family: "DIN-Mittelschrift", sans-serif;
  font-size: 1.3rem;
  line-height: 0.7rem;
}

.uk-offcanvas-bar div .uk-nav .uk-parent .uk-nav-sub {
  margin-top: -15px;
}

footer {
  background: #414042;
  color: white;
  height: 200px;
  margin-top: 3rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}
footer a img:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}
footer div {
  font-family: "DIN-Alternate-Bold";
  margin: auto;
  margin-top: 25px;
}
footer p {
  font-size: 1rem;
}

.footer-logo {
  margin-bottom: 0.5rem;
  width: 250px;
  clear: both;
}

.footer-copyright {
  color: var(--grey-text);
}

.footer-sm-title {
  color: var(--echo-orange);
}

.footer-map-title {
  color: var(--echo-purple);
}
